<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign in with google Button</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
</head>
<body>

<form action="/oauth2/authorization/google" method="GET">
    <button type="submit" class="login-with-google-btn">
        Sign in with Google
    </button>
</form>

</body>
</html>